@import url('./reset.less');

html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    Arial, sans-serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

#root {
  height: 100%;
}

:root {
  --color-text: #323233;
  --color-background: #fff;
  --color-block-background: #ebedf0;
}

/* 自定义暗黑模式样式 */
html.dark {
  --color-text: #d9d9d9;
  --color-background: #1f1f1f;
  --color-block-background: #3a3a3c;

  body {
    color: var(--color-text);
    background-color: var(--color-background);
  }
}
